# Exclude files from GitHub's language statistics
# https://github.com/github/linguist#using-gitattributes

/.devcontainer/**	linguist-vendored
/.docker/**	linguist-vendored
/.github/**	linguist-vendored
/.vscode/**	linguist-vendored
/bin/**	linguist-vendored
/node_modules/**	linguist-vendored
/shared/**	linguist-vendored
/tests/**	linguist-vendored
/tools/**	linguist-vendored
/vendor/**	linguist-vendored

/example.env linguist-vendored
/composer.json	linguist-vendored
/composer.lock	linguist-vendored
/package.json	linguist-vendored
/phpcs.xml	linguist-vendored
/phpcs.xml.dist	linguist-vendored
/phpmd.xml	linguist-vendored
/phpmd.xml.dist	linguist-vendored
/phpstan.neon	linguist-vendored
/phpstan.neon.dist	linguist-vendored
/wp-cli.yml	linguist-vendored
