[mysqld]
collation-server              = utf8mb4_unicode_ci
character-set-server          = utf8mb4
slow_query_log                = 1
slow_query_log_file           = /var/log/mysql/slow-query.log
long_query_time               = 1
log_queries_not_using_indexes = 1

innodb_buffer_pool_size       = 200M
innodb_log_file_size          = 100M
innodb_buffer_pool_instances  = 8
innodb_io_capacity            = 5000
max_binlog_size               = 100M
expire_logs_days              = 3
